<div class="container">
  <header class="blog-header py-3">
    <a class="blog-header-logo text-dark" href="#">Padeen Blog</a>
    <p>Built with bootstrap</p>
    <%= link_to 'Write a new blog', new_blog_path if logged_in?(:site_admin) %>
  </header>
</div>

