<h1>Contact</h1>
<div class="row">
  <div class="col-md-6">
    <h2>Adress</h2>
    <p>Stationsplein 45, 4th floor, 3013 AK Rotterdam</p>
    <h2>Email</h2>
    <p><a href="mailto:padeen@example.com?subject=PortfolioContact" "email me">Click here contact me</a></p>
    <p><%= number_to_currency "150" %></p>
    <p><%= number_to_percentage "99" %></p>
    <p><%= number_with_delimiter "9900" %></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2460.579580232181!2d4.468290297820246!3d51.92338114596312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c434a44d94f465%3A0x955c8fa631131731!2sCIC+Rotterdam!5e0!3m2!1sen!2snl!4v1560190214835!5m2!1sen!2snl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
